body {
  font-family: "Lucida Console";
}

hr {
  border: 0;
  height: 1px;
  color: #ebebeb;
  background-color: #ebebeb;
}

#main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#main table {
  border: solid 1px #ebebeb;
  border-radius: 5px;
  font-size: 12px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 90%;
}

#main table th {
  background: #aaa;
  color: #fff;
  padding: 5px;
}

#main table td {
  padding: 3px;
  border-bottom: solid 1px #ebebeb;
  border-right: solid 1px #ebebeb;
}

#main table tr.even {
  background: #ebebeb;
}

#main tabl tr.odd {
  background: #fff;
}

div.feature_container {
  padding: 20px;
  background: #eeeeee;
  margin-bottom: 10px;
}

div.feature_container hr {
  padding: 0px 0 10px 0;
  margin: 0;
}

div.feature_container h4 {
  background: #fff;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  margin-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 40px;
}

div.feature_container .steps {
  background: #fff;
  margin: 0 0 20px 0;
  padding: 20px 20px 10px 20px;
}

div.context {
  background: #6BBA70;
}

div.feature_container .steps table {
  width: 80%;
  border: solid 1px #ebebeb;
  border-radius: 10px;
  margin: 10px 0 20px 0;
}

div.feature_container .steps table th {
  padding: 5px;
  background: #ccc;
}

div.feature_container .steps table td {
  padding: 5px;
  border-bottom: #ebebeb solid 1px;
  border-right: #ebebeb solid 1px;
}